body{
    color: #FFF;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 0 24px;
  border-bottom: 1px solid #1E293B;
  background: #0F172A;
  position: relative;
}

.navbar-left,
.navbar-right {
  z-index: 1; /* So center doesn't overlap */
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.logo {
  max-height: 40px;
}

.logo img {
  max-height: 40px;
  height: auto;
  width: auto;
}

.links {
  display: flex;
  gap: 24px;
  align-items: center;
}

a {
  text-decoration: none;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  color: #FFFFFF;
}

.logo {
            display: flex;
            align-items: center;
            gap: 0.75rem;
            font-size: 1.5rem;
            font-weight: 700;
        }
        
        .logo span {
            color: #38BDF8;
        }